body {
    background-color: #BBB6DF;
  }

header {
    background-color: #333;
    color: #FFF;
    top: 0;
    width: 800px;
    position: fixed;
    left: 25%;
    right: 20%;
  }
  
/* body {
    background-color: #d08181;
  }

main {
    background-color: #d08181;
    margin: 50px auto;
    text-align: justify;
    padding: 10px;
  }

header {
    background-color: #333;
    color: #FFF;
    top: 0;
    width: 800px;
    position: fixed;
    left: 25%;
    right: 20%;
  }
  
.container{
    width: 800px;
    position: absolute;
    left: 25%;
    right: 20%;
    top: 10.5%;
    background-color: white;
  }

.title {
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  

nav {
    display: flex;
    justify-content: center;
  }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
nav li {
    margin: 0 10px;
  }
  
nav a {
    color: #FFF;
    text-decoration: none;
  }

nav a.active {
    background-color: #4e86c5;
    color: #333;
  }


nav a:hover {
    background-color: #38ce5b;
    color: #FFF;
  }
  

  .project {
    display: flex;
    justify-content: center;
  }
  
  .project img {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .project-description {
    text-align: left;
    width: 400px;
  } */