  body {
    background-color: #BBB6DF;
  }

  .fix-top{
    position: fixed;
    top: 0%;
    left: 20%;
    right: 20%;
  }

  .top{
    display: flex;
    justify-content: center;
  }

  .bar{
    background-color: #424242;
    color: #FFF;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .title{
    display: flex;
    justify-content: center;
    height: 60px;
  }

  .nav{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
  }

  .button{
    background-color: rgb(179,57,81);
    width: 100px;
    height: 15px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: rgb(66, 28, 40);
    color: #fff;
    cursor: pointer;
  }

  .nav a.active .button{
    background-color: #4e86c5;
    color: #fff;
    font-weight: bold;
  }

  

  .main-center{
    display: flex;
    justify-content: center;
  }

  .main{
    background-color: white;
    display: flex;
    justify-content: center;
    width: 800px;
  }  

  .container{
    background-color: white;
    width: 600px;
    margin-top: 16%;
    margin-left: 100px;
    margin-right: 100px;
  }



  .project {
    display: flex;
    justify-content: center;
  }
  
  .project img {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .project-description {
    text-align: left;
    width: 400px;
  }