body {
    background-color: #EBEBEB; /* Different background color */
  }
  
  .wrapper {
    width: 800px;
    margin: 0 auto; /* Center the wrapper on the page */
    background-color: #FFF; /* White background color */
  }