body {
    background-color: #EBEBEB; /* Different background color */
  }
  
.wrapper {
    width: 800px;
    margin: 0 auto; /* Center the wrapper on the page */
    background-color: #FFF; /* White background color */
  }

  
header {
    background-color: #333;
    color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
.title {
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  

/*nav styling*/
nav {
    display: flex;
    justify-content: center;
    /*width: 100%;*/
  }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
nav li {
    margin: 0 10px;
  }
  
nav a {
    color: #FFF;
    text-decoration: none;
  }

/*link colors*/
nav a:hover {
    background-color: #999;
    color: #FFF;
  }

.active a {
    background-color: #FFF;
    color: #333;
  }
  