body {
    background-color: #d08181; /* Different background color */
    width: 800px;
  }

main {
    background-color: #ffffff;
    margin: 50px auto;
    text-align: justify;
    padding: 10px;
    
  }

header {
    background-color: #333;
    color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
  }
  

.box {
    position: relative;
    left: 100;
    right: 100;
  }
  
.center {
    position: absolute;
    left: 100;
    right: 100;
    margin: auto;
    width: 50%;
  }
  
  

.title {
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  

/*nav styling*/
nav {
    display: flex;
    justify-content: center;
  }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
nav li {
    margin: 0 10px;
  }
  
nav a {
    color: #FFF;
    text-decoration: none;
  }


nav a.active {
    background-color: #FFF;
    color: #333;
  }

/*link colors*/
nav a:hover {
    background-color: #999;
    color: #FFF;
  }

.active a {
    background-color: #FFF;
    color: #333;
  }

  

/*project styling*/
  .project {
    display: flex;
    justify-content: center;
  }
  
  .project img {
    width: 350px;
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .project-description {
    text-align: left;
    width: 400px;
  }

