body {
    background-color: #EBEBEB; /* Different background color */
  }
  
  .wrapper {
    width: 800px;
    margin: 0 auto; /* Center the wrapper on the page */
    background-color: #FFF; /* White background color */
  }

  header {
    background-color: #333;
    color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .title {
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #FFF;
    text-decoration: none;
  }