body {
	margin: 0;
	padding: 0;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid black;
}

.title {
	text-align: center;
}

#grid-container {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid black;
}

.tile {
	width: 45px;
	height: 45px;
	border: 1px solid black;
	float: left;
}

/* This rule changes the color of a tile on hover */
.tile:hover {
	background-color: #b71414;
}