body {
	margin: 0;
	padding: 0;
	background-color: rgb(165, 166, 168);
}

.container {
	max-width: 600px;
	margin: 0 auto;
	height: 700px;
	background-color: lightpink;
}

.title {
	text-align: center;
}

#grid-container {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid rgb(255, 255, 255);
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.tile {
	width: 50px;
	height: 50px;
	float: left;
}

/* .tile {
    transition: background-color 0.5s;
} */

.tile:hover {
	-webkit-filter: blur(1px);
	filter: blur(1px);
	opacity: 10;
	transform: scale(1, 1);
	transition: -webkit-filter 0.5s, filter 0.5s, opacity 0.5s, transform 0.5s;
}

/* This rule changes the color of a tile on hover */
/* .tile:hover {
	background-color: #b71414;
} */