body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica;
    background-color: rgb(200, 250, 230);
    color: rgb(0, 0, 0);
  }

  a {
    color: yellow;
  } 

  h1 {
    margin-top: 0.4em;
    margin-bottom: 0;
  }

  p {
    margin-top: 0.5em;
  }

  .center {
    text-align: center;
  }

  .d3ml__settings {
    display: flex;
    justify-content: space-around;
  }

  .d3ml__settings__group:first-of-type {
    display: flex;
    flex-direction: column;
  }

  .description {
    width: 80%;
  }
