body {
    background-color: rgb(200,200,200);
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
}

.page {
    position: relative;
    width: 720px;
    margin: 10px auto 20px auto;
    padding: 10px 0px 50px 0px;
    background-color: #7CC6FE;
}

h1 {
    position: relative;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
}

.initial-config {
    position: relative;
    margin: 20px 10px;
    border: 8px solid white;   
}
