body {
    background-color: rgb(200,200,200);
    height: 100vh;
    margin: 0px 0px;
    padding: 0px 0px;
}

h1 {
    position: relative;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
}

h2 {
    position: relative;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    font-family: 'Merriweather Sans', sans-serif;
}

#rule {
    position: relative;
    padding: 5px;
    width: 100px;
    text-align: center;
    font-size: 70%;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    font-family: 'Merriweather Sans', sans-serif;
}

.page {
    position: relative;
    width: 720px;
    margin: 10px auto 20px auto;
    padding: 10px 0px 50px 0px;
    background-color: #3e9de6;
}

.container {
    position: relative;
    margin: 20px auto;
    border: 8px solid white;   
}

.tile {
    position: absolute;
    border: 1px solid;
}

.rule-tile {
    position: absolute;
    border: 1px solid gray;
}

.float-container {
    position: relative;
    display: inline-block;
    background-color: white;
    margin: 10px;
}