body {
    background-color: rgb(200, 200, 250);
	font-family: sans-serif;
}

h1 {
    margin-bottom: 0%;
}

svg {
	background-color: #f5f5f5;
	border: 4px solid #000000;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonAlign {
    margin-top: 1%;
}

button {
    width: 100px;  
    font-weight: bold;  
}


.vertex {
    r: 10px;
    stroke: black;
    fill: rgb(255, 255, 0);
    stroke-width: 4;
}

.vertex:hover {
    fill: rgb(200, 200, 255);
}

.edge {
    stroke: black;
    stroke-width: 4px;
}

.muted {
    stroke: rgb(200,200,200);
}

.highlight {
    stroke: red;
    stroke-width: 5;
}

.overlay-vertex {
    r: 15px;
    stroke: yellow;
    fill: rgb(0, 0, 0, 20%);
    stroke-width: 5;

    transition-property: cx, cy;
    transition-duration: 500ms;
    
    transition-timing-function: ease;
    transition-delay: 500ms;
}


