body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica;
    background-color: rgb(229, 228, 226);
    color: rgb(0, 0, 0);
  }

  a {
    color: rgb(255, 115, 0);
  } 

  h1 {
    margin-top: 0.2em;
    margin-bottom: 0;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.3%;
  }

  .center {
    text-align: center;
  }

  .d3ml__settings {
    display: flex;
    justify-content: space-around;
  }

  .d3ml__settings__group:first-of-type {
    display: flex;
    flex-direction: column;
  }

  .description {
    width: 79%;
  }